:root {
  --borders: #5c5c5c;
  --superbright: #333333;
  --brighter: #232323;
  --darker: #000000;
  --text: #ffffff;
}

body {
  color: white;
  /*background: linear-gradient(130deg, var(--darker) 0%, var(--brighter) 100%);*/
  background-color: var(--darker);
}
.leftmenu {
  border-right: 1px solid var(--borders);
  background-color: var(--brighter);
}
.content {
  
}
hr {
  border: 0;
  border-top: 1px solid var(--borders);
}
.left-menu-list-item:hover {
  background-color: var(--superbright);
}
.left-menu-list-item:active {
  background-color: var(--borders);
}
.active {
  background-color: var(--superbright);
}
